name: Test + Build

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
jobs:
  ci:
    runs-on: ubuntu-latest
    concurrency:
      group: pr-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '24'
          cache: maven

      - name: Go offline (deps)
        run: ./mvnw -B -ntp dependency:go-offline

      - name: Test
        run: ./mvnw -B -ntp test

      - name: Build (skip tests)
        run: ./mvnw -B -ntp -DskipTests package

