name: Release (tagged)

on:
  push:
    tags:
      - '*'

jobs:
  release-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 24 (Temurin) with Maven cache
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '24'
          cache: maven

      - name: Go offline (deps)
        run: ./mvnw -B -ntp dependency:go-offline

      # Optional tests
      # - name: Test
      #   run: ./mvnw -B -ntp test

      - name: Build (skip tests)
        run: ./mvnw -B -ntp -DskipTests package

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.P3_DH_USERNAME }}
          password: ${{ secrets.P3_DH_PASSWORD }}

      - name: Build & push Docker image (tag)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.P3_DH_USERNAME }}/orchestrator:${{ github.ref_name }}
